<html>
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>

    <% if (locals.usernames) { %> <% usernames.forEach((username) => { %>
    <li><%= username.username %></li>
    <% }) %> <% } %>

    <a href="/new">Create a user</a>
  </body>
</html>
