<html>
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>

    <ul>
      <% if (locals.usernames) { %> <% usernames.forEach((username) => { %>
      <li><%= username.username %></li>
      <% }) %> <% } %>
    </ul>
  </body>
</html>
